doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/node_modules/bootstrap/dist/css/bootstrap.css')
    script(type='text/javascript', src='/static/node_modules/requirejs/require.js', data-main='/static/scripts/rjConfig.js')
  body
    block content
